*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Koulen", cursive;
}

.root {
  --title-font: "Rubik", sans-serif;
  --box-sizing: border-box;
  --lg-bg-color: #e8e9eb;
  --lg-text-color: #181817;
  --lg-main-color: #ffc567;
  --dk-bg-color: #313638;
  --dk-text-color: #ffffff;
  --dk-main-color: #ef6461;
}

@media (prefers-color-scheme: dark) {
  .root {
    --text-color: var(-dk-text-color);
    --bg-color: var(-dk-bg-color);
    --main-color: var(-dk-main-color);
  }
}

@media (prefers-color-scheme: light) {
  .root {
    --text-color: var(-lg-text-color);
    --bg-color: var(-lg-bg-color);
    --main-color: var(-lg-main-color);
  }
}

body [data-theme="dark"] {
  --text-color: var(-dk-text-color);
  --bg-color: var(-dk-bg-color);
  --main-color: var(-dk-main-color);
}

body[data-theme="light"] {
  --text-color: var(-lg-text-color);
  --bg-color: var(-lg-bg-color);
  --main-color: var(-lg-main-color);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--lg-bg-color);
  display: flex;
  flex-direction: row;
}

.todo-list,
.show-weather {
  width: 40%;
  padding: 20px 20px 0 20px;
}

#newtask {
  display: flex;
  flex-direction: row;
}

#newtask input {
  width: 70%;
  height: 45px;
  flex-grow: 2;
  color: #111111;
  border: none;
  border-bottom: 1px solid black;
}

#newtask button {
  border: none;
  border-radius: 5px transparent;
  outline: none;
}

.card-todo {
  width: 30vw;
  height: auto;
  margin: 1.5rem;
  padding: 10px 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.card-todo p,
h1 {
  color: var(--bg-color);
}
.card-todo p {
  font-size: 3.75vw;
}
.card-todo h1 {
  font-size: 5vw;
}

.done h1 {
  text-decoration: line-through;
}

.options {
  padding: 8px 2px;
  display: flex;
  justify-content: flex-start;
}

.options .item {
  margin-left: 0.85rem;
  width: 1.5vw;
  height: 1.5vh;
}

.item img {
  width: 100%;
}
